# Directorios de dependencias
node_modules
**/node_modules

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorio de construcción
dist
build
.medusa

# Archivos de entorno
# .env
# .env.*
# !.env.example

# Archivos del sistema
.DS_Store
Thumbs.db

# Directorios y archivos de desarrollo
.git
.gitignore
.dockerignore
Dockerfile
README.md
.vscode
.idea

# Archivos de caché
.npm
.eslintcache

# Archivos de prueba
__tests__
**/*.test.js
**/*.spec.js

# Otros archivos y directorios que no son necesarios en la imagen Docker
docs
*.md
LICENSE